* {
    box-sizing: border-box;
    font-size: small;
}

body {
    font-family: 'Nunito' sans-serif;
    margin: 0%;
}

#menu {
    height: 50px;
    margin: 10px;

}

#logo {
    font-size: 60px;
    line-height: 40px;
    color: #003666;
    float: left;
    padding: 10;
}

#content-name {
    color: white;
}

nav {
    float: right;
    line-height: 40px;
    font-size: 60px;
}

nav a:link {
    text-decoration: none;
    margin-right: 25px;
    color: #003666;
}

nav a:hover {
    border-bottom: 2px solid;
}

nav a:visited {
    text-decoration: none;
    margin-right: 25px;
    color: #003666;
}

.icons {
    margin-right: 22px;
    font-size: 25px;
}

#banner {
    height: 600px;
    background-image: url("../img/r2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#black {
    height: 600px;
    background-color: black;
    opacity: 0.5;

}

#content {
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;

}

/* #about-image{
    height: 300px;
    width: 100%;
        

} */

#about {
    background-color: #f8f9fa;
    padding: 50px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 300;
}

h3 {
    font-size: 55px;
    color: #003666;
    text-shadow: 0px 1px 1px black;
    font-weight: 600;
    text-align: center;
}

.container {
    width: 1200px;
    height: auto;
    margin: auto;
}

#left {
    float: left;
    border-right: 3px solid #445c6e;
    font-size: 30px;
    width: 400px;
    color: #445c6e;
}

#h5left {
    line-height: 1.6;
    font-size: 22px;
    font-weight: 600;
}

#h5left,
#right {
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

span {
    font-size: 50px;
    margin-right: 7px;
    line-height: 42px;
    color: #003666;
    font-weight: 600;
    float: left;
}

#right {
    float: right;
    width: 750px;
    color: #999999;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.mt100 {
    margin-top: 100px;

}

#plast {
    color: #999;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 100;
}

#courses {
    background-color: #fff;
    padding: 50px;
    text-align: center;
    height: 700px;

}

.card {
    width: 320px;
    height: 350px;
    border: 1px solid #ddd;
    padding: 0px;
    display: inline-block;
}

.headercard {
    font-size: 16px;
    font-weight: 600;
    color: #003666;
}

.pcard {
    color: #888;
    height: 30px;
    font-weight: 600;
}

.card:hover {
    border: 1px solid grey;

}
